<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Bright Ideas</title>
		<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
		<link
			rel="stylesheet"
			href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
		/>
		<link 
		rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
		{% load static %}
		<link rel="stylesheet" href="{% static 'all_styles/styles.css' %}" />
		<script src="{% static 'all_js/js-scripts.js' %}"></script>
	</head>
	<body>
		<div class="container">
			<nav class="navbar navbar-light bg-light mb-5">
				<a class="navbar-brand" href="#">
					{% load static %}
					<img
						src="{% static 'all_images/logo.png' %}"
						class="d-inline-block align-top"
						alt="logo"
					/>
					<span class="brand_name navbar-text">Bright Ideas</span>
				</a>
				<span class="navbar-text greeting">
					Hi, {{user.first_name}}!
				</span>
				<a class="breadcrumbs" href="/main/logout">Logout</a>
			</nav>
			<form action="create-idea/" method="POST" class="form-inline mb-5">
				{% csrf_token %}

				<div class="form-group justify-content-between">
					<textarea
						id="idea"
						name="idea"
						class="form-control"
						rows="2"
						placeholder="Post something witty here..."
					></textarea>

					<button
						type="submit"
						class="btn btn-secondary-dark btn-secondary"
					>
						Idea!
					</button>
				</div>
			</form>
			{% if messages %} {% for message in messages %} 
			{%if "no_more_likes" in message.tags %}
			<p class="messages {{ message.tags }}">{{ message }}</p>
			</p>
			{% endif %} {% endfor %} {% endif %}
			{% for idea in all_ideas %}
			<div class="row idea">
						<h5 class="post_info col col-md-2"><span class="author_info"><a href="../users/{{idea.user.id}}/">{{idea.user.alias}}</a> says:</span> 					
					</h5>
						<div class="idea_description col col-md-10"><p>{{idea.description}}</p>
							{% if idea.user.id == user.id %}
								<div class="del">
									<form action="delete-idea/{{idea.id}}/" method="POST">
							{% csrf_token %}						
							
							<div class="form-group">
								
									<button type="submit" class="btn btn-danger delete_btn" title="Delete this idea">
										<span class="sign">x</span>
									</button>
									
								</div>
							
						</form></div>
						{% endif %}
					</div>
						
						</div>
			<div class="row likes mb-5">
				<div class="col offset-2 col-md-2">
					<a href="likes/{{idea.id}}/" class="heart"><i class="far fa-heart heart" id="heart-img"></i> Like</a>
							</div>
							<div class="col col-md-8">
							<a href="{{idea.id}}/">{{idea.users.count}} people</a> like this
							
						</div></div>
					
						
			
					{% endfor %}
		</div>

	</body>
</html>
