<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	<link
	rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
/>
{% load static %}
<link rel="stylesheet" href="{% static 'all_styles/styles.css' %}" />
</head>
<body>
<div class="container">
<div class="row"><a class="breadcrumbs" href="/bright-ideas">Bright Ideas</a>
<a class="breadcrumbs" href="/main/logout/">Logout</a></div>
	<div class="row">
<p>{{idea.user.alias}} says: {{idea.description}}
	

	</div>
	<div class="row"><p>People who liked this idea:</p>
		<table class="table table-bordered table-stripped">
			<thead class="thead-light">
				<tr>
					<th scope="col">Alias</th>
					<th scope="col">Name</th>
				</tr>
			</thead>
			<tbody>
				{% for user in idea.users.all %}
			<tr>
				<td>{{user.alias}}</td>
				<td>{{user.full_name}}</td>
			</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
</body>
</html>